<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <% slides.forEach((slide, index) => { %>
    <% if (index == currentSlideNumber) { %>
      <a class="nav-link active" href="<%= pathname %>/<%= index %>" role="tab"><%= slide.name %></a>
    <% } else { %>
      <a class="nav-link" href="<%= pathname %>/<%= index %>" role="tab"><%= slide.name %></a>
    <% } %>
  <% }); %>
</div>