<!-- 
This code was primarly created for assignment for Computer Graphics course at USI
by Jiří Heller, Marie Kalousková and Xiana Carrera Alonso
For Software Atelier 3: The Web project we modified it to make it more customizable and tangible 
-->

<!-- How to use this file:
    ejs.views_slide_phong_model();
    start_slide_phong_model();
-->

<canvas id="webgl-canvas" class="m-3" width="<%= canvas_width %>" height="<%= canvas_height %>"></canvas>

<div id="controls" class="m-3 mt-0">

    <div class="mt-3 input-group">
        <label class="input-group-text" for="scene">Scene</label>
        <% if (available_scenes.length == 1) { %>
            <select class="form-select" id="scene" disabled>
        <% } else { %>
            <select class="form-select" id="scene">
        <% } %>

            <% available_scenes.forEach((s, i) => { %>
                <% if (i == 0) { %>
                    <option value="<%= s %>" selected><%= available_scenes_descriptions[i] %></option>
                <% } else { %>
                    <option value="<%= s %>"><%= available_scenes_descriptions[i] %></option>
                <% } %>
            <% }); %>

            </select>
    </div>

    <% if (slider_camera_angles || slider_camera_distance || slider_camera_fov) { %>
        <h4 class="mt-3">Camera</h4>
    <% } %>

    <% if (slider_camera_angles) { %>
        <div class="slidecontainer">
            Azimuthal angle:
            <output>225°</output>
            <br/>
            <input type="range" min="0" max="360" value="225" id="camera_azimuthal_angle" class="form-range" oninput="this.previousElementSibling.previousElementSibling.value = this.value + '°'">
        </div>
        <div class="slidecontainer">
            Polar angle:
            <output>60°</output>
            <br/>
            <input type="range" min="1" max="180" value="60" id="camera_polar_angle" class="form-range" oninput="this.previousElementSibling.previousElementSibling.value = this.value + '°'">
        </div>
    <% } %>

    <% if (slider_camera_distance) { %>
        <div class="slidecontainer">
            Distance:
            <output>100</output>
            <br/>
            <input type="range" min="20" max="200" value="100" id="camera_distance" class="form-range" oninput="this.previousElementSibling.previousElementSibling.value = this.value">
        </div>
    <% } %>

    <% if (slider_camera_fov) { %>
        <div class="slidecontainer">
            Field of view:
            <output>45°</output>
            <br/>
            <input type="range" min="10" max="150" value="45" id="camera_fov" class="form-range" oninput="this.previousElementSibling.previousElementSibling.value = this.value + '°'">
        </div>
    <% } %>

    <% if (slider_lights) { %>
        <h4 class="mt-3">Light</h4>
        <div class="slidecontainer">
            Azimuthal angle:
            <output>225°</output>
            <br/>
            <input type="range" min="0" max="360" value="225" id="light_azimuthal_angle" class="form-range" oninput="this.previousElementSibling.previousElementSibling.value = this.value + '°'">
        </div>
        <div class="slidecontainer">
            Polar angle:
            <output>60°</output>
            <br/>
            <input type="range" min="1" max="180" value="60" id="light_polar_angle" class="form-range" oninput="this.previousElementSibling.previousElementSibling.value = this.value + '°'">
        </div>
    <% } %>

    <% if (slider_gamma || slider_tone_mapping) { %>
        <h4 class="mt-3">Tone mapping</h4>
    <% } %>

    <% if (slider_tone_mapping) { %>
        <div class="slidecontainer">
            Alpha:
            <output>1</output>
            <br/>
            <input type="range" min="0.5" max="3" step="0.1" value="1" id="alpha" class="form-range" oninput="this.previousElementSibling.previousElementSibling.value = this.value">
        </div>
        <div class="slidecontainer">
            Beta:
            <output>1</output>
            <br/>
            <input type="range" min="0.5" max="3" step="0.1" value="1" id="beta" class="form-range" oninput="this.previousElementSibling.previousElementSibling.value = this.value">
        </div>
    <% } %>

    <% if (slider_gamma) { %>
        <div class="slidecontainer">
            Gamma correction:
            <output>2</output>
            <br/>
            <input type="range" min="1" max="5" step="0.1" value="2" id="gamma_correction" class="form-range" oninput="this.previousElementSibling.previousElementSibling.value = this.value">
        </div>
    <% } %>

    <% if (slider_face_culling || slider_depth_test) { %>
        <h4 class="mt-3">WebGL Features</h4>
    <% } %>

    <% if (slider_face_culling) { %>
        <fieldset class="form-check form-switch">
            <input type="checkbox" id="culling" class="form-check-input" name="culling">
            <label class="ps-1 form-check-label" for="culling">Face Culling</label>
        </fieldset>
    <% } %>

    <% if (slider_depth_test) { %>
        <fieldset class="form-check form-switch">
            <input type="checkbox" id="depth_test" class="form-check-input" name="depth_test" checked>
            <label class="ps-1 form-check-label" for="depth_test">Depth Test</label>
        </fieldset>
    <% } %>

</div>
