<% if (!isTeacher) { %>

<canvas id="threejs-canvas" class="m-3" width="<%= canvas_width %>" height="<%= canvas_height %>"></canvas>

<table id="parametrization-table">
    <tr>
        <td data-toggle="buttons">
            <div class="form-group align-items-center">
                <!-- mx-2 specifies both margin left and right -->
                <label class="w-100 btn btn-outline-primary p-2">
                    <input type="radio" class="btn-check" name="param_options" value="0" id="option1" autocomplete="off" />
                    <p class="mt-2 mx-2">
                        \(x = (R_1 + R_2 \cos(v)) cos(u)\)<br />
                        \(y = (R_1 + R_2 \cos(v)) sin(u)\)<br />
                        \(z = R_2 \sin(v)\)<br />
                        \(u \in [0, 2\pi),\; v \in [0, 2\pi)\)
                    </p>
                </label>
            </div>
        </td>
        <td class="align-middle">
            =
        </td>
        <td class="drop-targets">
            <div class="drop-box card p-3 object-draggable-name justify-content-center align-items-center text-center" draggable="true" id="drop-box1">
                Sphere
            </div>
        </td>
    </tr>
    <tr>
        <td data-toggle="buttons">
            <div class="form-group align-items-center">
                <label class="w-100 btn btn-outline-primary p-2">
                    <input type="radio" class="btn-check" name="param_options" value="1" id="option2" autocomplete="off" />
                    <p class="mt-2 mx-2">
                        \(x = r + \cos(v / 2) * \sin(u) - \sin(v / 2) * \sin(2 * u)) * \cos(v) \)<br />
                        \(y = (r + \cos(v / 2) * \sin(u) - \sin(v / 2) * \sin(2 * u)) * \sin(v) \)<br />
                        \(z = \sin(v / 2) * \sin(u) + \cos(v / 2) * \sin(2 * u) \)<br />
                        \(u \in [0, 2\pi),\; v \in [-\pi, \pi)\)
                    </p>
                </label>
            </div>
        </td>
        <td class="align-middle">
            =
        </td>
        <td class="drop-targets">
            <div class="drop-box card p-3 object-draggable-name justify-content-center align-items-center text-center" draggable="true" id="drop-box2">
                Torus
            </div>
        </td>
    </tr>
    <tr>
        <td data-toggle="buttons">
            <div class="form-group align-items-center">
                <label class="w-100 btn btn-outline-primary p-2">
                    <input type="radio" class="btn-check" name="param_options" value="2" id="option3" autocomplete="off" />
                    <p class="mt-2 mx-2">
                        \(x = \rho \cos(\theta) \sin(\phi) \)<br />
                        \(y = \rho \sin(\theta) \sin(\phi) \)<br />
                        \(z = \rho \cos(\phi) \)<br />
                        \(\rho \gt 0, \theta \in [0, 2\pi),\; \phi \in [0, \pi)\)
                    </p>
                </label>
            </div>
        </td>
        <td class="align-middle">
            =
        </td>
        <td class="drop-targets">
            <div class="drop-box card p-3 object-draggable-name justify-content-center align-items-center text-center"  draggable="true" id="drop-box3">
                Klein bottle
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            <button id="param-btn" class="btn btn-success drop-box" <% if(sentAnswer) { %> disabled <% } %>>Done</button>
        </td>
    </tr>
</table>

<% } else { %>

<canvas id="threejs-canvas" class="m-3" width="<%= canvas_width %>" height="<%= canvas_height %>"></canvas>

<table id="parametrization-table">
    <tr>
        <td data-toggle="buttons">
            <div class="form-group align-items-center">
                <!-- mx-2 specifies both margin left and right -->
                <label class="w-100 btn btn-outline-primary p-2">
                    <input type="radio" class="btn-check" name="param_options" value="0" id="option1" autocomplete="off" />
                    <p class="mt-2 mx-2">
                        \(x = (R_1 + R_2 \cos(v)) cos(u)\)<br />
                        \(y = (R_1 + R_2 \cos(v)) sin(u)\)<br />
                        \(z = R_2 \sin(v)\)<br />
                        \(u \in [0, 2\pi),\; v \in [0, 2\pi)\)
                    </p>
                </label>
            </div>
        </td>
        <td class="align-middle">
            =
        </td>
        <td class="drop-targets">
            <div class="teacher-card drop-box card justify-content-center align-items-center text-center" draggable="false" id="drop-box1">
                <div class="p-2 object-draggable-name card-title">
                    <p>Torus</p>
                    <p class="m-0">
                        <span class="me-2 badge rounded-pill bg-success"><%= answers[0][0] %></span>
                        <span class="badge rounded-pill bg-danger"><%= answers[0][1] %></span>
                    </p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td data-toggle="buttons">
            <div class="form-group align-items-center">
                <label class="w-100 btn btn-outline-primary p-2">
                    <input type="radio" class="btn-check" name="param_options" value="1" id="option2" autocomplete="off" />
                    <p class="mt-2 mx-2">
                        \(x = r + \cos(v / 2) * \sin(u) - \sin(v / 2) * \sin(2 * u)) * \cos(v) \)<br />
                        \(y = (r + \cos(v / 2) * \sin(u) - \sin(v / 2) * \sin(2 * u)) * \sin(v) \)<br />
                        \(z = \sin(v / 2) * \sin(u) + \cos(v / 2) * \sin(2 * u) \)<br />
                        \(u \in [0, 2\pi),\; v \in [-\pi, \pi)\)
                    </p>
                </label>
            </div>
        </td>
        <td class="align-middle">
            =
        </td>
        <td class="drop-targets">
            <div class="teacher-card drop-box card justify-content-center align-items-center text-center" draggable="false" id="drop-box2">
                <div class="object-draggable-name card-title">
                    <p>Klein bottle</p>
                    <p class="m-0">
                        <span class="me-2 badge rounded-pill bg-success"><%= answers[1][0] %></span>
                        <span class="badge rounded-pill bg-danger"><%= answers[1][1] %></span>
                    </p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td data-toggle="buttons">
            <div class="form-group align-items-center">
                <label class="w-100 btn btn-outline-primary p-2">
                    <input type="radio" class="btn-check" name="param_options" value="2" id="option3" autocomplete="off" />
                    <p class="mt-2 mx-2">
                        \(x = \rho \cos(\theta) \sin(\phi) \)<br />
                        \(y = \rho \sin(\theta) \sin(\phi) \)<br />
                        \(z = \rho \cos(\phi) \)<br />
                        \(\rho \gt 0, \theta \in [0, 2\pi),\; \phi \in [0, \pi)\)
                    </p>
                </label>
            </div>
        </td>
        <td class="align-middle">
            =
        </td>
        <td class="drop-targets">
            <div class="teacher-card drop-box card justify-content-center align-items-center text-center" draggable="false" id="drop-box3">
                <div class="object-draggable-name card-title">
                    <p>Sphere</p>
                    <p class="m-0">
                        <span class="me-2 badge rounded-pill bg-success"><%= answers[2][0] %></span>
                        <span class="badge rounded-pill bg-danger"><%= answers[2][1] %></span>
                    </p>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            <button id="show-btn" class="btn btn-primary drop-box">Show Answers</button>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td>
            <% if(!showAnswer) { %>
                <button id="param-btn" class="btn btn-outline-primary drop-box">Send answers</button>
            <% } else { %>
                <button id="param-btn" class="btn btn-outline-primary drop-box" disabled>Answers sent</button>
            <% } %>
        </td>
    </tr>
</table>
        
<% } %>
